---
import Section from "../components/common/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Section class="mt-16">
    <h1 class="text-3xl sm:text-4xl font-display pb-8">Oops!</h1>
    <h2 class="text-xl sm:text-2xl pb-8">404 - Page not found</h2>
    <p>
      Sorry, but the page you are looking for does not exist. You can go back to
      the <a class="underline underline-offset-4 font-medium" href="/"
        >homepage</a
      > or explore my <a
        class="underline underline-offset-4 font-medium"
        href="/projects">projects</a
      >.
    </p>
  </Section>
</Layout>
